@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  width: 100%;
  height: 100%;

  h2 {
    font-size: 26px;
    font-weight: 600;
    color: colors.$MAIN_TEXT_COLOR;
  }
}
