@use '/src/styles/constants/colors';

.container {
  position: absolute;
  top: 0;
  left: 105px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  background-color: colors.$WHITE;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 30%);
}

.calendarContainer {
  height: 460px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: -10px;
  margin-right: 10px;
}
