@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.container {
  width: 100%;

  h2 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    color: colors.$MAIN_TEXT_COLOR;
  }

  .infoContainer {
    padding: 30px 20px;
    background: colors.$WHITE;
    border-radius: 20px;
    box-shadow: colors.$BOX_SHADOW 0 8px 24px;

    dl {
      display: grid;
      gap: 30px;
      justify-items: center;

      @include responsive.after(SD) {
        grid-template-columns: repeat(auto-fill, minmax(33%, auto));
      }

      @include responsive.after(LD) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .infoBox {
        width: 90%;
        @include flexbox.flexbox(between, center);
        line-height: 30px;

        dt {
          width: 22%;
          font-size: 15px;
          color: colors.$MAIN_TEXT_COLOR;
        }

        dd {
          width: 60%;
          padding: 3px 14px;
          color: colors.$MAIN_TEXT_COLOR;
          border: 1px solid rgba(colors.$BORDER_COLOR, 0.8);
          border-radius: 8px;
        }
      }
    }
  }
}

.charts {
  width: 100%;
  margin-top: 30px;

  @include responsive.after(LD) {
    @include flexbox.flexbox(between, center);
  }
}
