@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/constants/colors';

.container {
  @include flexbox.flexbox(start, center);
  flex: 1;
  padding-left: 10px;

  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    +li::before {
      margin: 0 10px;
      content: '>';
    }
  }

  .active {
    font-weight: 500;
  }

  @include responsive.after(ML) {
    padding-left: 0;
  }
}
