@use '/src/styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(start, center);
  flex: 1;

  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    + li::before {
      margin: 0 10px;
      content: '>';
    }
  }

  .active {
    font-weight: 500;
  }
}
