// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ea3a4b;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BLACK: #3a474e;
$LOGIN_SUB_COLOR: #c0c0c0;

$SIGNATURE_COLOR: #7a79fd;
$HOVER_SIGNATURE_COLOR: #4a4aec;
$BG_COLOR: #f5f8ff;
$MAIN_TEXT_COLOR: #424067;
$SUB_TEXT_COLOR: #666666;
$BORDER_COLOR: #dbdef7;
$BORDER_COLOR_2: #f5f8ff; // 연한색상
$BOX_SHADOW: rgba(149, 157, 165, 10%);
$TRANSPARENT: transparent;
$ERROR_LIGHT: #ff3b30;
$ERROR_DARK: #ff453a;
