.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  div {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  input {
    height: 30px;
    padding: 0 10px;
    margin: 0 10px;
    border: 1px solid black;
  }

  label {
    margin-left: 30px;
  }
}

.userInfoInputsContainer {
  display: flex;
  align-items: center;

  .dropDown {
    height: 30px;
    border: 1px solid black;
  }
}

.dateRangeInputContainer {
  display: flex;
}

.formButtonsContainer {
  display: flex;
  margin-right: 20px;
  margin-left: auto;
}
