@use '/src/styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(start, center);
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    + li::before {
      margin: 0 10px;
      content: '>';
    }
  }
}
