@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/position';

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: colors.$BG_COLOR;

  .sidebarContainer {
    @include position.absolute(0 auto auto 0);
    z-index: 1;
    width: 30px;
    height: 100%;
    overflow: hidden;
    transition: 0.2s;

    &:hover {
      width: 300px;
    }
  }

  main {
    @include flexbox.flexbox(start,center);
    position: relative;
    flex-direction: column;
    width: calc(100% - 30px);
    height: 100%;
    padding: 30px;
    margin-left: 30px;
    transition: 0.2s;
  }
}
