@use '/src/styles/mixins/flexbox';

header {
  @include flexbox.flexbox(between, center);
  width: 100%;
  height: 60px;

  .userMenus {
    @include flexbox.flexbox(around, center);
    gap: 10px;
  }
}
