@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 100%;

  @include responsive.after(MD) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @include responsive.after(LD) {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
  }
}

.inputs {
  @include flexbox.flexbox(between, center);

  @include responsive.after(ML) {
    @include flexbox.flexbox(start, center);
  }

  .inputContainer {
    display: flex;
    align-items: center;
    color: colors.$MAIN_TEXT_COLOR;

    input {
      width: 50%;
      max-width: 200px;
      height: 40px;
      font-size: 15px;
      color: colors.$TRANSPARENT;
      text-align: center;
      text-shadow: 0 0 0 black;
      border: 1px solid rgba(colors.$BORDER_COLOR, 0.8);
      border-radius: 8px;

      &:hover {
        cursor: pointer;
      }
    }

    span {
      margin: 0 10px;
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 40px;
    padding: 10px;
    margin-right: 20px;
    font-size: 15px;
    white-space: nowrap;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include responsive.after(SD) {
    justify-content: flex-end;
  }

  button {
    width: 30%;
    margin-left: 0;

    @include responsive.after(SD) {
      max-width: 190px;
      margin-left: 16px;
    }

    @include responsive.after(LD) {
      max-width: 100px;
    }
  }
}
