@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  position: relative;
  @include flexbox.flexbox(center, center);
  gap: 20px;
  width: 100%;
}

.inputs {
  @include flexbox.flexbox(center, center);
  flex-wrap: nowrap;

  label {
    margin-right: 20px;
    white-space: nowrap;
  }

  input {
    width: 40%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border: 1px solid colors.$GRAYA;
    border-radius: 10px;
  }
}

.calendarIcon {
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
}

.datePicker {
  position: absolute;
  top: 50px;
  left: 100px;
}
