@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(center, center);
  position: relative;
  z-index: 1000;
  gap: 20px;
}

.inputs {
  @include flexbox.flexbox(center, center);
  flex-wrap: nowrap;

  label {
    margin-right: 20px;
    white-space: nowrap;
  }

  input {
    width: 40%;
    height: 40px;
    font-size: 16px;
    color: colors.$TRANSPARENT;
    text-align: center;
    text-shadow: 0 0 0 black;
    border: 1px solid colors.$GRAYA;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

.calendarIcon {
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
}

.dateRange {
  height: 400px;
}
